@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600&display=swap");

/* @font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
} */

@font-face {
  font-family: "philosopher bold";
  src: url("../fonts/philosopher/Philosopher-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "philosopher";
  src: url("../fonts/philosopher/Philosopher-Regular.ttf") format("truetype");
}

:root {
  --color-primary: #0194f3;
  --color-dark-primary: #007ce8;
  --color-secondary: #FA6d01;
  --color-dark: #333333;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 1200px;
}

/* font family  */

.ff-philosopher {
  font-family: philosopher;
}

.ff-philosopher-bold {
  font-family: philosopher bold;
}

/* end font family  */


/* font weight  */

.fw-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.fw-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.fw-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

 /* end font weight  */

 /* buttons  */

.btn.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn.btn-primary:hover {
  background-color: var(--color-dark-primary) !important;
}

/* end buttons  */

/* navbar  */

.navbar-toggler:focus {
  box-shadow: none;
}

/* end navbar  */

/* jumbotron  */

.jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  background-image: url("../img/banner/manarola.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron .content {
  position: absolute;
  top: 34%;
  transform: translateY(-34%);
  left: 8rem;
}

.jumbotron .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* end jumbotron  */

.mt6 {
  margin-top: 130px;
}
.fs-sm {
  font-size: 13px;
}
.fs-text {
  font-size: 15px !important;
  letter-spacing: 0.2px;
}
.form-control {
  border-radius: 2px;
}
.form-control:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
}
.shadow-sm {
  box-shadow: 0px 5px 30px -4px rgba(0, 0, 0, 0.1) !important;
}
.bg-wh {
  background: #e8eff7;
  border: none;
}
.bg-wh:focus {
  background: #e8eff7;
}
.bg-pg {
  background-size: cover;
  background-image: url(" https://dgov63yz6bnpt.cloudfront.net/banner/id/153/home_page.png");
  height: 36vw;
  background-position: 50%;
  background-repeat: no-repeat;
}
.navbar .nav-link {
  color: white ;
  font-size: 14px;
}
.h-a {
  height: 96px;
}
.invalid-feedback {
  font-size: 12px;
}

.title h1 {
  position: relative;
}

.title h1::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 60px;
  height: 2.3px;
  border-radius: 10px;
  bottom: -10.7px;
}

.title h1::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 160px;
  height: 2.3px;
  border-radius: 10px;
  left: 0;
  bottom: -19.7px;
}

/* swiper  */

@media (width < 768px) {
  .title-location {
    font-size: 16.6px !important;
  }
  .title-place {
    font-size: 35px !important;
  }
}

@media (width >= 768px) {

  .title-location {
    font-size: 15px !important;
  }
  .title-place {
    font-size: 27px !important;
  }
}

@media (width >= 992px) {

  .title-location {
    font-size: 12.9px !important;
  }
  .title-place {
    font-size: 24px !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.slider-backdrop {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 54%);
}

.title-location {
  content: '';
  position: absolute;
  font-size: 12.9px;
  letter-spacing: 0.9px;
  font-weight: 600;
  color: #eaeaea;
  left: 19px;
  bottom: 30px;
  z-index: 4;
  font-weight: 300;
}

.title-place {
  content: '';
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  left: 18px;
  z-index: 4;
  bottom: 50px;
}

/* .swiper-wrapper .jpn::after{
  content: ' Fuji Mountain';
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  left: 18px;
  z-index: 4;
  bottom: 50px;
} */

/* .swiper-wrapper .jpn::before{
  content: '\F3E8 ';
  font-family: 'bootstrap-icons' !important;
  position: absolute;
  font-size: 14px;
  color: #eaeaea;
  left: 18px;
  bottom: 30px;
  z-index: 4;
  font-weight: 300;
} */

/* 
.swiper-slide::after {
  content: 'awdawdawd';
  position: absolute;
  font-size: 19px;
  width: 200px;
  height: 90px;
  background-color: red;
  z-index: 3;
  left: 0;
  bottom: 0;
} */

/* end swiper  */